
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #blogs {
        margin-top: 10%;
    }

    .card {
        background: #FFFFFF;
        border: 1px solid #C8E7E5;
        box-sizing: border-box;
        border-radius: 15px;
        margin-bottom: 5%;
    }

    .card-img-top {
        padding: 10px;
    }
</style>
<section id="blogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="~/images/blogs/1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search engine that fills the professional and specialized vacancies required </h5>
                        <p class="card-text">Point of sale system on the Internet manages all accounting and warehouse operations, and works on invoicing, calculating taxes, storing and archiving data with privacy and securit .</p>
                        <span style=" font-size: 11px;color: gray;">|  write by: Ghufran Zghoul  </span>
                        <br>
                        <br>
                        <a href="#" style="background-color: #1A9D92;color:#fff;border:1px solid  #1A9D92;padding:8px 20px;" class="btn">Read Now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="~/images/blogs/2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search engine that fills the professional and specialized vacancies required </h5>
                        <p class="card-text">Point of sale system on the Internet manages all accounting and warehouse operations, and works on invoicing, calculating taxes, storing and archiving data with privacy and security.                        .</p>
                        <span style=" font-size: 11px;color: gray;">|  write by: Ghufran Zghoul  </span>
                        <br>
                        <br>

                        <a href="#" style="background-color: #1A9D92;color:#fff;border:1px solid  #1A9D92;padding:8px 20px;" class="btn">Read Now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="~/images/blogs/3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search engine that fills the professional and specialized vacancies required </h5>
                        <p class="card-text">Point of sale system on the Internet manages all accounting and warehouse operations, and works on invoicing, calculating taxes, storing and archiving data with privacy and security.</p>
                        <span style=" font-size: 11px;color: gray;">|  write by: Ghufran Zghoul  </span>
                        <br>
                        <br>

                        <a href="#" style="background-color: #1A9D92;color:#fff;border:1px solid  #1A9D92;padding:8px 20px;" class="btn">Read Now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="~/images/blogs/4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search engine that fills the professional and specialized vacancies required </h5>
                        <p class="card-text">Point of sale system on the Internet manages all accounting and warehouse operations, and works on invoicing, calculating taxes, storing and archiving data with privacy and security.</p>
                        <span style=" font-size: 11px;color: gray;">|  write by: Ghufran Zghoul  </span>
                        <br>
                        <br>
                        <a href="#" style="background-color: #1A9D92;color:#fff;border:1px solid  #1A9D92;padding:8px 20px;" class="btn">Read Now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="~/images/blogs/5.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search engine that fills the professional and specialized vacancies required </h5>
                        <p class="card-text">Point of sale system on the Internet manages all accounting and warehouse operations, and works on invoicing, calculating taxes, storing and archiving data with privacy and security.</p>
                        <span style=" font-size: 11px;color: gray;">|  write by: Ghufran Zghoul  </span>
                        <br>
                        <br>
                        <a href="#" style="background-color: #1A9D92;color:#fff;border:1px solid  #1A9D92;padding:8px 20px;" class="btn">Read Now </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="~/images/blogs/6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search engine that fills the professional and specialized vacancies required </h5>
                        <p class="card-text">Point of sale system on the Internet manages all accounting and warehouse operations, and works on invoicing, calculating taxes, storing and archiving data with privacy and security</p>
                        <span style=" font-size: 11px;color: gray;">|  write by: Ghufran Zghoul  </span>
                        <br>
                        <br>
                        <a href="#" style="background-color: #1A9D92;color:#fff;border:1px solid  #1A9D92;padding:8px 20px;" class="btn">Read Now </a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>    